.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

#imagesContainer {
    width: 75%;
    margin: 0 auto;
}

#imagesContainer img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#backButton {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: rgb(163, 185, 255);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#backButton:hover {
    background-color: #0056b3;
}