body {
    background-color: rgb(183, 205, 255);
}

.centered,
h1,
h2,
p {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: column;
    text-align: center;
    margin: 5px 0;
}

.dateTime {
    text-align: center;
}

.coffee-container {
    background-color: #f5e6cc;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 20%;
    border-radius: 20px;
    width: 23%;
    height: min(300%, 190px);
}

.button-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.record-container {
    background-color: #f5e6cc;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 60%;
    border-radius: 20px;
    width: 23%;
    height: min(30%, 200px);
}

.workout-container {
    background-color: #f5e6cc;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 30%;
    border-radius: 20px;
    width: 23%;
    height: min(33%, 215px);
}

.photo-container-normal {
    position: absolute;
    top: 80%;
    right: -6%;
    transform: translate(-50%, -40%);
    width: 20%;
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    height: auto;
}

.photo-container-lambeau {
    position: absolute;
    top: 75%;
    right: 3%;
    transform: translate(-50%, -40%);
    width: 10%;
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    height: auto;
}

.photo-container-no-location {
    position: absolute;
    top: 11%;
    right: -2%;
    transform: translate(-50%, -40%);
    width: 15%;
    height: auto;
}

button {
    background-color: rgb(163, 185, 255);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #0056b3;
}

#weekly-total,
#daily-average {
    margin-top: 10px;
    font-size: 1em;
}

#avgWeeklyCoffees,
#moneySaved {
    margin-top: 1px;
    margin-bottom: 5px;
}

#counter {
    font-size: 2em;
    margin-bottom: 20px;
}

#date-time,
#weather {
    position: absolute;
    top: 10px;
    font-size: 40px;
    color: #333;
}

#weather {
    right: 10px;
}

#weather-icon {
    position: absolute;
    top: 90px;
    right: 80px;
    transform: translateX(-50%);
}

#current-time {
    left: 10px;
}

#counter-container {
    right: 10px;
}