body {
    background-color: rgb(183, 205, 255);
}

.centered,
h1,
h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: column;
    text-align: center;
    margin: 5px 0;
}

#backButton {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: rgb(163, 185, 255);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#backButton:hover {
    background-color: #0056b3;
}